extends layout

block content
  .row.justify-content-center
    .col-md-5
      .card.shadow-sm.border-0.rounded-3.mt-5
        .card-body.p-4
          h3.text-center.mb-4 Login
          if error
            .alert.alert-danger= error
          form(action="/login" method="POST")
            .mb-3
              label.form-label(for="email") E-mail
              input#email.form-control(type="email" name="email" placeholder="Insira o seu email" required value=(typeof formData !== 'undefined' && formData.email) ? formData.email : '')
            .mb-3
              label.form-label(for="password") Palavra-passe
              input#password.form-control(type="password" name="password" placeholder="Insira a sua password" required)
            .d-grid.gap-2.mt-4
              button.btn.btn-primary(type="submit") Entrar
          .text-center.mt-3
            span Ainda não tem conta? 
            a(href="/register") Registe-se aqui