extends layout

block content
  .row.justify-content-center
    .col-md-6
      .card.shadow-sm.border-0.rounded-3.mt-5
        .card-body.p-4
          h3.text-center.mb-4 Criar Conta
          if error
            .alert.alert-danger= error
          form(action="/register" method="POST")
            .row.mb-3
              .col-md-6
                label.form-label(for="nome") Nome
                input#nome.form-control(type="text" name="nome" placeholder="Insira o seu nome" required value=(formData && formData.nome) ? formData.nome : '')
              .col-md-6
                label.form-label(for="apelido") Apelido
                input#apelido.form-control(type="text" name="apelido" placeholder="Insira o seu apelido" required value=(formData && formData.apelido) ? formData.apelido : '')
            .mb-3
              label.form-label(for="email") E-mail
              input#email.form-control(type="email" name="email" placeholder="nome@email.com" required value=(formData && formData.email) ? formData.email : '')
            .mb-3
              label.form-label(for="password") Palavra-passe
              input#password.form-control(type="password" name="password" placeholder="Crie uma palavra-passe" required)
            .mb-3
              label.form-label(for="confirm-password") Confirmar Palavra-passe
              input#confirm-password.form-control(type="password" name="confirmPassword" placeholder="Repita a palavra-passe" required)
            .d-grid.gap-2.mt-4
              button.btn.btn-primary(type="submit") Registar Conta
          .text-center.mt-3
            span Já tem uma conta? 
            a(href="/login") Faça o login